<div  ng-controller='MainCtrl'>
  <!-- <button showfav  items="camerasList"  type="button" class="btn btn-primary center">Show Favorite</button> -->
  <div class="row box" ng-repeat="item in camerasList">
    <div ng-snow='item.show'>
      <div  class="col-md-7 camImgBg">
        <img cam-img item="item" class="camImg" ng-src="{{item.image}}">
      </div>
      <div class="col-md-5 infoBox">
        <div class="star">
          <span favorite ng-model='item.isFavorite' ng-show='item.isFavorite'  class="glyphicon glyphicon-star"></span>
          <span favorite ng-model='item.isFavorite' ng-hide='item.isFavorite' class="glyphicon glyphicon-star-empty"></span>
        </div>
        <h5 class="camTitle">{{item.camera_name}}</h5>
        <p class="description" ng-hide='true'>{{item.description}}</p>
        <p class="views"><span>всего просмотров: </span>{{item.total_views}}</p>
      </div> 
    </div>  
  </div>
  <div class="btnBox">
    <button totop type="button" class="btn btn-primary">Вверх</button>
    <button morebtn type="button" class="btn btn-success">Еще</button>
  </div>
</div>
